
html {
    scroll-behavior: smooth;
  }
  
.pizza-boys-web-container{

position: relative;
height: 100%;
width: 100%;
background-color: orange;
   
}


.pizza-menu{
    position: relative;

}




.nav-link-mobile-off{
    display: none;
}

.mobile-social-media-off{
    display: none;
}

.nav-link-mobile-on{
    display: none;
}

.mobile-social-media-on{
    display: none;
}

.fab:hover{
    cursor: pointer;
}

.to-top-button{
    position: fixed;
    text-align: center;
    height: 30px;
    width: 40px;
    bottom: 20px;
    right: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5px;

    z-index: 5;
}

.to-top-button:hover{
    cursor: pointer;
}

p{
    margin: 0px;
    padding: 0px;
}

.right-side{
    position: relative;
    float: right;
    width: 87%;
}

.mobile-nav-bar{

    height: 0px;
    display: none;
 
}




.fa-bars{
    display: none !important;

}
.fa-bars:hover{
    background-color: #310300;
}
.nav-bar-container{
    position: fixed;
    background-color: #3B0400;
    height: 100vh;
    width: 13%;
    color: white;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5 !important;
  
}

.nav-links-container{
  
    
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link{
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}
.nav-link:hover{
    cursor: pointer;
    
}

.social-media-container{
   
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
   
}

.mobile-nav-links-container p span{
    position: relative;
    top: -3px;
    left: 5px;
    font-size: 14px;
    color: white;
}

.nav-link span{
    font-size: 14px;
    display: block;
}

.mobile-nav-links-container p{
   
    color: gray;
}

.nav-bar-flare{
 
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-circle{
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.nav-line{
    background-color: white;
    height: 5px;
    width: 40px;
}


.jumbotron-container{
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.842), rgba(0, 0, 0, 0.945)), url("./img/kitchen\ image.jpg");
    background-position: center;
    background-size: cover;
  
    color: white;
}

.logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   
    height: 400px;
    width: 400px;
   background: url('./logo.png');
  
   background-size: cover;
}


.jumbo-info-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Roboto;
    width: 500px;
    font-size: 28px;
    line-height: 40px;
}

.menu-button{
    position: absolute;
    text-align: center;
   left: 50%;
   transform: translateX(-50%);
    border-style: none;
    margin-top: 60px;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 180px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}

.menu-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.menu-button:focus{
    outline: none;
}

.menu-container{

    position: relative;
    float: right;
    background-color: #dfcabc;
    width: 100%;

}

.menu-section{
    padding: 40px;

}

.menu-title{
    position: relative;
    font-size: 40px;
    font-family: Roboto;
    color: rgb(41, 41, 41);
}

.menu-line-close{
    position: relative;
    width: 0%;
    height: 3px;
    background-color: rgba(5, 5, 5, 0.774);
    margin-top: 15px;
    margin-bottom: 40px;
    transition: 0.3s;
}

.menu-line-open{
    position: relative;
    width: 90%;
    height: 3px;
    background-color: rgba(5, 5, 5, 0.774);
    margin-top: 15px;
    margin-bottom: 40px;
    transition: 0.8s;
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap;
    width: 90%;
 
}

.menu-item{
    position: relative;
    margin-bottom: 20px;
    width: 30%;
    color: #2f3640;
}

.item-name{
    font-size: 25px;
   margin-bottom: 10px;
   font-weight: bold;
   font-family: 'Open Sans';
}

.item-toppings{
    width: 360px;
    font-family: Montserrat;

}

.calzone-container{
    position: relative;
}

.menu-section{
    position: relative;
}

.extra-ingredients{
    position: relative;
    

    bottom: 20px;

    margin-top: 10px;

    
    text-align: center;
    font-size: 20px;

}

.extra-ingredients-1{
    position: absolute;
    
    bottom: 0px;
    left: 0px;

  

    
    text-align: center;
    font-size: 20px;

}

.extra-ingredients-2{
    position: absolute;
    
    bottom: 0px;

  

    
    text-align: center;
    font-size: 20px;

}

.pizza-slices{
    position: absolute;
    

    bottom: -20px;
width: 420px;
    ;
    text-align: center;
    font-size: 20px;
}

.item-price{
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
}


.pizza-info{
    position: absolute;
    top: 50%;
    margin-left: 15px;
    transform: translateY(-50%);
    font-size: 22px;
    font-weight: 500;
    
}
.combos-container{
    position: relative;
    margin-top: 30px;
}


.kidz-container{
    height: 400px;
}
.kidz-container .item-name{
    width: 600px !important;
}

.kidz-container .menu-item{
    position: relative;
   width: 55%;
}


.combos-menu{
    height: 200px;
    margin-top: 20px;

}

.combos-menu .menu-title{
   position: relative;
   top: -10px;
}
.subs-menu{
    height: 500px;
}

.appetizer-menu .item-price{
    width: 130px;

    text-align: right;
}

.appetizer-menu .item-name{
    width: 330px;
}

.salads-menu .item-price{
    width: 130px;
}

.salads-menu .item-toppings{
    width: 230px;
}

  @media only screen and (max-width: 1720px) {



    .pizza-boys-web-container{
        overflow-x: hidden;
    }


    .nav-bar-container{
        width: 13%;
    }
    .menu-items-container{
        display: flex;
        flex-direction: column;
       
        width: 80%;
   

     
    }

    .menu-item{
        position: relative;
        margin-bottom: 20px;
        width: 36%;
        margin-right: 20px;
        color: #2f3640;
    }

    .subs-menu{
        height: 650px !important;
        width: 100%;
    }

 

  }


  @media only screen and (max-width: 1650px){
      .item-price{
          right: -10px;
      }

      .menu-items-container{
        display: flex;
        flex-direction: column;
       
        width: 96%;
   

     
    }

    .pizza-menu{
        height: 450px;
    }

    .drinks-menu{
        height: 500px;
    }

  }


  @media only screen and (max-width: 1400px){
    .nav-link{
        font-size: 23px !important;
    }

    .menu-line-open{
        width: 100%;
    }

  

    .menu-item{
        position: relative;
        margin-bottom: 20px;
        width: 35%;
        margin-right: 20px;
        color: #2f3640;
    }

    .appetizer-menu .item-name{
        width: 250px;
    }
    

  }


  @media only screen and (max-width: 1210px){

    .nav-bar-container{
        display: none;
    }

    .fa-bars{
        position: fixed;
        color: white;
        display: inline-block  !important;
        left: 10px;
        top: 10px;
        font-size: 20px;
        background-color: #3B0400;
        padding: 8px;
        border-radius: 8px;
        z-index: 6;
    
    }


    .mobile-nav-bar-off{
        background-color: #3B0400;
        height: 0px;
     
        position: fixed;
        width: 100%;
        z-index: 3;
        transition: 0.3s;
    }

    .mobile-nav-bar-on{
     
        background-color: #3B0400;
        height: 300px;
        display: block;
        position: fixed;
        width: 100%;
        z-index: 3;
        transition: 0.3s;
    }

    .nav-link-mobile-off{
        display: none;
    }
    .nav-link-mobile-on{
        display: block;
        text-align: center;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .mobile-nav-links-container{
        margin-top: 30px;
    }

    .mobile-social-media-off{
       display: none;
    }

    .mobile-social-media-on{
        margin-top: 20px;
        color: white;
        display: inline-block;
        text-align: center;
       
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .fab{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 30px;
    }
 



    .right-side{
        width: 100%;
        float: none;
    }

    .menu-items-container{
        display: flex;
        flex-direction: column;
       
        width: 100%;
   

     
    }

    .menu-item{
        width: 45%;
    }

    .appetizer-menu{
        width: 100%;
        height: 400px;
    }

    .appetizer-menu .item-name{
        width: 300px;
    }

    .salads-menu {
        width: 100%;
        height: 500px;
    }

    .salads-menu .item-toppings{
       width: 250px;
    }
  }


  @media only screen and (max-width: 950px){

  .item-name{
      font-size: 22px;
      width: 220px;
  }

  .calzone-menu{
      height: 430px;
  }

  .calzone-menu .item-price{


      width: 140px;
  }

  .calzone-menu .item-toppings{
      margin-top: 40px;
  }

  .calzone-menu .menu-item{
      margin-bottom: 40px;
  }


  .appetizer-menu .item-price{
      width: 150px;
  }



  }



  @media only screen and (max-width: 840px){
    .item-toppings{
        width: 250px;
    }

    .menu-items-container{
        height: 550px;
    }


    .dinners-menu{
        height: 300px;
    }


    .salads-menu{
        height: 600px;
    }

    .salads-menu .item-toppings{
        width: 200px;
    }

    .salads-menu .item-price{
        width: 170px;
    }

    .appetizer-menu{
        width: 115%;
        height: 900px;
    }

    .subs-menu{
        height: 1100px;
    }

    .calzone-menu{

    }


    .kidz-menu .item-price{
        right: -40px;
    }


    .appetizer-menu .item-name{
        width: 200px;
    }


    .pizza-slices{
        position: absolute;
        
    
        bottom: -20px;
    width: 300px;
        
        text-align: center;
        font-size: 20px;
    }

    .salads-menu .item-name{
        width:  300px;
    }
  }


  @media only screen and (max-width: 600px){
    .menu-items-container{
      width: 700px;
        height: 800px;
    }

    .jumbotron-container{
        height: 95vh;
        overflow-y: hidden;
    }

    .logo{
        height: 330px;
    width:330px;
    }

    .menu-button{
        margin-top: 30px;
    }

  .item-price{
      right: 15px;
  }


  .kidz-container .item-name{
    width: 200px !important;
}
  
  .to-top-button{
    position: fixed;
    text-align: center;
    height: 25px;
  
    width: 35px;
    bottom: 20px;
    right: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5px;

    z-index: 5;
}

    .pizza-menu{
        height: 940px;
    }

    .combos-menu{
        height: 300px;
        margin-top: 30px;
    
    }

    .dinners-menu{
        height: 540px;
    }

    .specials-menu{
        height: 470px;
    }
    .subs-menu{
        height: 1300px !important;
    }

    .jumbo-info-container{
     
        font-size: 19px;
        line-height: 40px;
        width: 380px;
    }

    .item-price{
        font-size: 18px;
    }

    .drinks-menu{
        height: 850px;
    }

    .appetizer-menu{
        height: 900px;
    }

    .appetizer-menu .item-price{
        right: 0px;
        width: 130px !important;
    }

    .salads-menu .item-name{
width: 150px;
    }

    .salads-menu{
        height: 820px;
    }


    .salads-menu .item-toppings{
        width: 250px;
    }

    
  }

  @media only screen and (max-width: 360px){


    .appetizer-menu .item-price{
        width: 110px;
        right: 0px;
    }

    
    .appetizer-menu .item-name{
        margin-right: 20px;
    }

    .item-price{
        right: 55px;
    }

    .menu-items-container{
        position: relative;
        left: -10px;
      }

      .jumbo-info-container{
          width: 80%;
      }

      .menu-button{
          font-size: 18px;
          width: 120px;
      }

      .logo{
         height: 230px;
         width: 230px;
      }
      

      .salads-menu .item-toppings{
           font-size: 14px;
      }

      .salads-menu .item-price{
        right: -20px;
   }

  }

  @media only screen and (max-width: 360px){
    .salads-menu .item-price{
        right: 0px;
   }

   .appetizer-menu .item-price{
    right: 15px;
}
  }