
html {
    scroll-behavior: smooth;
  }
  
.pizza-boys-web-container{

position: relative;
height: 100%;
width: 100%;
background-color: orange;
   
}


.pizza-menu{
    position: relative;

}




.nav-link-mobile-off{
    display: none;
}

.mobile-social-media-off{
    display: none;
}

.nav-link-mobile-on{
    display: none;
}

.mobile-social-media-on{
    display: none;
}

.fab:hover{
    cursor: pointer;
}

.to-top-button{
    position: fixed;
    text-align: center;
    height: 30px;
    width: 40px;
    bottom: 20px;
    right: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5px;

    z-index: 5;
}

.to-top-button:hover{
    cursor: pointer;
}

p{
    margin: 0px;
    padding: 0px;
}

.right-side{
    position: relative;
    float: right;
    width: 87%;
}

.mobile-nav-bar{

    height: 0px;
    display: none;
 
}




.fa-bars{
    display: none !important;

}
.fa-bars:hover{
    background-color: #310300;
}
.nav-bar-container{
    position: fixed;
    background-color: #3B0400;
    height: 100vh;
    width: 13%;
    color: white;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5 !important;
  
}

.nav-links-container{
  
    
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link{
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}
.nav-link:hover{
    cursor: pointer;
    
}

.jumbo-info-container a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.social-media-container{
   
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
   
}

.mobile-nav-links-container p span{
    position: relative;
    top: -3px;
    left: 5px;
    font-size: 14px;
    color: white;
}

.nav-link span{
    font-size: 14px;
    display: block;
}

.mobile-nav-links-container p{
   
    color: gray;
}

.nav-bar-flare{
 
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-circle{
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.nav-line{
    background-color: white;
    height: 5px;
    width: 40px;
}


.jumbotron-container{
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.842), rgba(0, 0, 0, 0.945)), url("./img/kitchen\ image.jpg");
    background-position: center;
    background-size: cover;
  
    color: white;
}

.logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   
    height: 400px;
    width: 400px;
   background: url('./logo.png');
  
   background-size: cover;
}


.jumbo-info-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Roboto;
    width: 500px;
    font-size: 28px;
    line-height: 40px;
}

.menu-button{
    position: absolute;
    text-align: center;
   left: 50%;
   transform: translateX(-50%);
    border-style: none;
    margin-top: 60px;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 180px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}

.menu-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.menu-button:focus{
    outline: none;
}

.menu-container{

    position: relative;
    float: right;
    background-color: #dfcabc;
    width: 100%;
    overflow-x: hidden;

}

.menu-section{
    padding: 40px;

}

.menu-title{
    position: relative;
    font-size: 40px;
    font-family: Roboto;
    color: rgb(41, 41, 41);
}

.menu-line-close{
    position: relative;
    width: 0%;
    height: 3px;
    background-color: rgba(5, 5, 5, 0.774);
    margin-top: 15px;
    margin-bottom: 40px;
    transition: 0.3s;
}

.menu-line-open{
    position: relative;
    width: 90%;
    height: 3px;
    background-color: rgba(5, 5, 5, 0.774);
    margin-top: 15px;
    margin-bottom: 40px;
    transition: 0.8s;
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap;
    width: 90%;
 
}

.menu-item{
    position: relative;
    margin-bottom: 20px;
    width: 550px;
    color: #2f3640;

}

.kidz-menu .menu-item{
    width: 450px;
}


.menu-caption{
    font-family: Roboto;
    font-size: 20px;
}

.item-name{
    font-size: 25px;
   margin-bottom: 10px;
   font-weight: bold;
   font-family: 'Open Sans';
}

.item-toppings{

    font-family: Montserrat;
    width: auto;
    display: inline-block;
    clear: both;

    width: 90%;
   
}

.item-price{

width: auto;
display: inline-block;
float: right;

font-size: 20px;
font-weight: 600;
}

.item-price-multi{

display: block;


font-size: 20px;
font-weight: 600;
}

.multi-price{
    position: relative;
    top: -10px;
float: right;
}

.item-name{

  width: auto;
  display: inline-block;
  float: left;
}

.menu-items-container{
    height: 500px;
}


.extra-ingredients{
    position: absolute;
    bottom: 0px;

    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.extra-ingredients-1{
    position: absolute;
    bottom: -20px;

    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.extra-ingredients-2{
    position: absolute;
    bottom: 0px;

    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.combos-container .menu-title{

    margin-top: 50px !important;

}

.menu-section{
    position: relative;
    height:auto;
}


.pizza-menu{
    height: 500px;
}

.combos-container .menu-title{
    margin-bottom: 30px;
}

.combos-menu{
    height: 200px;
}

.calzone-menu{
    height: 300px;
}

.dinners-menu{
    height: 270px;
}

.specials-menu{
    height: 300px;
}

.subs-menu{
    height: 600px;
}

.kidz-menu{
    height: 270px;
}

.salads-menu{
    height: 320px;
}





@media only screen and (max-width: 1920px) {
    .kidz-menu .menu-item{
        width: 650px;
    }
}



  @media only screen and (max-width: 1720px) {


  

    .pizza-boys-web-container{
        overflow-x: hidden;
    }


    .nav-bar-container{
        width: 13%;
    }

  
    .menu-items-container{
 
        

     
    }

    .menu-item{
        position: relative;
        margin-bottom: 20px;
        width: 36%;
        margin-right: 20px;
        color: #2f3640;
    }


 

  }


  @media only screen and (max-width: 1650px){
      .item-price{
          right: -10px;
      }

      .menu-items-container{
        display: flex;
        flex-direction: column;
       
        width: 96%;
   

     
    }


  }


  @media only screen and (max-width: 1450px){

    .kidz-menu {
        height: 380px;
      
    }
    .nav-link{
        font-size: 23px !important;
    }

    .menu-line-open{
        width: 100%;
    }

    .subs-menu{
        height: 700px;
    }
  

    .dinners-menu{
        height: 320px;
    }

    .dinners-menu .item-name{
        width: 300px;
    }

    .calzone-menu{
        height: 400px;
    }


    .appetizer-menu .item-name{
        width: 300px;
    }

    .kidz-menu .item-name{
        width: 300px;
    }

   

    .salads-menu{
        height: 400px;
    }



    

  }


  @media only screen and (max-width: 1210px){

    .nav-bar-container{
        display: none;
    }

    .fa-bars{
        position: fixed;
        color: white;
        display: inline-block  !important;
        left: 10px;
        top: 10px;
        font-size: 20px;
        background-color: #3B0400;
        padding: 8px;
        border-radius: 8px;
        z-index: 6;
    
    }


    .mobile-nav-bar-off{
        background-color: #3B0400;
        height: 0px;
     
        position: fixed;
        width: 100%;
        z-index: 3;
        transition: 0.3s;
    }

    .mobile-nav-bar-on{
     
        background-color: #3B0400;
        height: 300px;
        display: block;
        position: fixed;
        width: 100%;
        z-index: 3;
        transition: 0.3s;
    }

    .nav-link-mobile-off{
        display: none;
    }
    .nav-link-mobile-on{
        display: block;
        text-align: center;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .mobile-nav-links-container{
        margin-top: 30px;
    }

    .mobile-social-media-off{
       display: none;
    }

    .mobile-social-media-on{
        margin-top: 20px;
        color: white;
        display: inline-block;
        text-align: center;
       
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .fab{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 30px;
    }
 



    .right-side{
        width: 100%;
        float: none;
    }

    .menu-items-container{
        display: flex;
        flex-direction: column;
       
        width: 100%;
   

     
    }

    .kidz-menu .item-name{
        width:300px !important;
    }


    .combos-menu .item-name{
        width: 280px !important;
    }

  }


  @media only screen and (max-width: 1060px){

    .kidz-menu .menu-item{
        width: 650px;
    }

    .pizza-menu .item-name{
        width: 280px !important;
    }

    .appetizer-menu .item-name{
        width: 240px !important;
       
    }

    .appetizer-menu .item-price{
        margin-left: 30px;
    }

    .appetizer-menu{
        height: 680px;
    }

    .menu-item{
        width: 400px;
    }

    .kidz-menu {
    height: 380px;
       
    }


  }



  @media only screen and (max-width: 900px){
  
    .menu-item{
        width: 90% !important;
    }

    .menu-items-container{
        height: auto !important;
    }


    .multi-price{
        position: relative;
        top: -3px;
    float: right;
    }

  }


  @media only screen and (max-width: 600px){

    .menu-section{
        width: 92% !important;
        left: -25px;
    }

    .pizza-menu .item-name{
        width: 230px !important;
    }

    .combos-menu .item-name{
        width: 230px !important;
    }

    .item-name{
    
        width: 200px !important;
    }


    .jumbotron-container{
        height: 95vh;
        overflow-y: hidden;
    }

    .logo{
        height: 330px;
    width:330px;
    }

    .menu-button{
        margin-top: 20px;
    }

    .calzone-menu .item-name{
        width: 160px !important;
      
    }

    .extra-ingredients-2{

        position: absolute;
        bottom: 0px;
    
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        width: 300px;
    }



    .appetizer-menu .item-name{
        width: 180px !important;

    }

    .kidz-menu .item-name{
        width: 220px !important;
    }

    .salads-menu{
        width: 110% !important;
       
    }


    
.extra-ingredients-1{
    position: absolute;
    bottom: -10px;
    
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.extra-ingredients-2{
    position: absolute;
    bottom: -10px;

    font-size: 20px;
    text-align: center;
    font-weight: bold;
}




  
  .to-top-button{
    position: fixed;
    text-align: center;
    height: 25px;
  
    width: 35px;
    bottom: 20px;
    right: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5px;

    z-index: 5;
}



    .jumbo-info-container{
     
        font-size: 19px;
        line-height: 40px;
        width: 380px;
    }

    .item-price{
        font-size: 18px;
    }

    

    
  }

  @media only screen and (max-width: 360px){




      .jumbo-info-container{
          width: 95%;
          font-size: 16px;
      }

      .extra-ingredients{
          position: relative;
          top: 30px;
      }

      .combos-menu .item-name{
          font-size: 18px;
          width: 140px !important;
      }

      .menu-button{
          font-size: 18px;
          width: 120px;
      }

      .logo{
         height: 230px;
         width: 230px;
      }

      .calzone-menu .item-name{
          width: 120px !important;
      }

      .appetizer-menu .item-name{
          width: 130px !important;
      }


      .item-name{
          font-size: 20px;
         
      }

      .item-price{
          font-size: 18px;
      }

  }
  @media only screen and (max-width: 360px){



  }